header {
  background-color: lightgray;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header img {
  height: 150px;
}
nav {
  height: 150px;
}
nav ul {
  margin: 60px;
}
nav li {
  display: inline;
}
header img{
  width: 150px;
}
