.rest_details {
  display: none;
}
#trash_can {
  width: 60px;
  margin: 20px 0 20px 0;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
}
.flex-container div {
  width: 329px;
}
