iframe {
  display: block;
  margin: 0 auto;
}
.rest_details {
  display: none;
  color: white;
  padding: 10px;
}


.flex-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
  font-family: Josefin sans;
  color: white;
}
.flex-container div {
  padding-top: 10px;
}
.lists li {
  border: 2px solid orange;
  border-radius: 25px;
  background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
}
.lists li>div {
  margin-top: 10px;
}
.lists a {
  color: orange;
  text-decoration: none;
}

.restImage {
  position: relative;
  top: 12px;
  border-radius: 50%;
}

.contentWrapper {
  margin: 0;
  padding: 0px 0px 0px 8px;
}

div.detailsWrapper{
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.storeLink{
  font-size: 1.2em;
}

#showMore {
  display: block;
  margin: 0 auto;
  border-top: 1px solid #f797f4 ;
  background: #65a9d7 ;
  background: -webkit-gradient(linear, left top, left bottom, from(#cf7c7c ), to(#65a9d7 ));
  background: -webkit-linear-gradient(top, #cf7c7c , #65a9d7 );
  padding: 3px 5px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 24px;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  }
#showMore:hover {
  border-top-color: #28597a ;
  background: #28597a ;
  color: #ccc;
  }
#showMore:active {
  border-top-color: #1b435e ;
  background: #1b435e ;
}

.icons {
  padding: 0;
  text-align: center;
  width: 60px;
}

#trash_can {
  position: relative;
  right: 0;
  bottom: 0;
  width: 50px;
}

#favorites {
  position: relative;
  right: 0;
  top: 0;
  width: 50px;
}

/***********************
About Us Styling
***********************/

#aboutUs {
  display: none;
}

#aboutUs h1 {
 font-weight: bold;
 font-size: 40px;
}

.bio {
  width: 250;
  margin: 20px auto;
  text-align: center;
}

.bio h2 {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.bio p {
  padding: 10px;
}

/***********************
Favorites Page Styling
***********************/

#favoritesPage {
  display: none;
}
