iframe {
  display: block;
  margin: 0 auto;
}
.detailsContainer {
  display: none;
  color: white;
  padding: 10px;
}


.flex-container {
  display: flex;
  justify-content: space-around;
  height: 100px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}
.flex-container div {
  padding-top: 10px;
}
.lists li {
  border: 2px solid orange;
  border-radius: 25px;
  background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
}
.lists li>div {
  margin-top: 10px;
}
.lists a {
  color: orange;
  text-decoration: none;
}

.restImage {
  position: relative;
  top: 12px;
  border-radius: 50%;
  transition: border-radius 250ms;
  border: #2196F3;
  border-style: groove;
}

.restImage:hover {
  transition: 250ms;
  border-radius: 10%;
}

.contentWrapper {
  margin: 0;
  padding: 0px 0px 0px 8px;
}

div.detailsWrapper{
  width: 100%;
  max-width: 500px;
  margin: auto;
  font-size: 25px;
  padding: 10px;
}

.storeLink{
  font-size: 1.2em;
}

#showMore {
  display: block;
  margin: 0 auto;
  border-top: 1px solid #f797f4 ;
  background: #65a9d7 ;
  background: -webkit-gradient(linear, left top, left bottom, from(#cf7c7c ), to(#65a9d7 ));
  background: -webkit-linear-gradient(top, #cf7c7c , #65a9d7 );
  padding: 3px 5px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 24px;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  }
#showMore:hover {
  border-top-color: #28597a ;
  background: #28597a ;
  color: #ccc;
  }
#showMore:active {
  border-top-color: #1b435e ;
  background: #1b435e ;
}

.icons {
  padding: 0;
  text-align: center;
  width: 60px;
}

#trash_can {
  position: relative;
  right: 0;
  bottom: 0;
  width: 50px;
  cursor: pointer;
}

#favorites {
  position: relative;
  right: 0;
  top: 0;
  width: 50px;
  cursor: pointer;
}


/***********************
About Us Styling
***********************/

#aboutUs {
  display: none;
  color: white;
  background-color: rgba(0,0,0,0.50);
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

#aboutUs h1 {
 font-weight: bold;
 font-size: 40px;
 color: #fff;
 text-align: center;
 padding: 20px;
}

.bio {
  width: 400px;
  margin: 0 auto;
  text-align: justify;
  display: block;
  height: 480px;
  vertical-align: top;
}

.bio h2 {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.bio p {
  padding: 10px;
}

.bio img {
   margin: auto;
   display: block;
   width: 250px;
   border: #2196F3;
   border-style: groove;
 }

@media only screen and (min-width: 600px) {
   .bio {
     padding: 20px;
   }

 @media only screen and (min-width: 925px) {
 .bio {
    display: inline-block;
  }

}


/***********************
Favorites Page Styling
***********************/
#clearFavorite{

     display:block;
     margin:0px auto;

     background: #d232eb;
    background-image: -webkit-linear-gradient(top, #d232eb, #f3ccf5);
    background-image: -moz-linear-gradient(top, #d232eb, #f3ccf5);
    background-image: -ms-linear-gradient(top, #d232eb, #f3ccf5);
    background-image: -o-linear-gradient(top, #d232eb, #f3ccf5);
    background-image: linear-gradient(to bottom, #d232eb, #f3ccf5);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 2px 5px 5px #c768c7;
    -webkit-box-shadow: 0px 1px 14px #e609e6;
    -moz-box-shadow: 0px 1px 14px #e609e6;
    box-shadow: 0px 1px 14px #e609e6;
    font-family: Arial;
    color: #fab9fa;
    font-size: 44px;
    padding: 9px 20px 10px 20px;
    border: solid #b223fa 3px;
    text-decoration: none;
}

#clearFavorite:hover {
  background: #3cb0fd;
   text-decoration: none;
}
#favoritesPage {
  display: none;
}

@media only screen and (min-width: 500px) {
  #restList .contentWrapper, #favoritesList .contentWrapper {
    width: 300px;
  }
}

@media only screen and (min-width: 600px) {
    .rest_details {
      display: flex;
      justify-content: space-around;

    }
    /*.detailsWrapper {
      display: inline;
      width: 300px;
    }
    iframe {
      display: inline;
      width: 300px;
    }*/
}
.starred {
  color: red;
}

.seeMore {
  text-decoration: underline;
}

.seeMore:hover {
  color: #ffb380;
}
